.readbutton{

  background:none!important;
     border:none;
     padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#f5593d;
     text-decoration:none;
     cursor:pointer;
     font-weight: 700;
     text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
